always-auth=true
registry=https://npm.pkg.github.com/airwallex/
@airwallex:registry=https://npm.pkg.github.com/airwallex
@airwallex-dev-scale:registry=https://gitlab.awx.im/api/v4/projects/847/packages/npm/

package-lock=false

//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//npm.pkg.github.com/airwallex/:_authToken=${GITHUB_TOKEN}

//gitlab.awx.im/api/v4/projects/978/packages/npm/:_authToken=${GITLAB_TOKEN}
//gitlab.awx.im/api/v4/packages/npm/:_authToken=${GITLAB_TOKEN}
